# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  ade4,
  cluster,
  e1071,
  R2HTML,
  MASS
)
importFrom("grDevices", "rainbow")
importFrom("graphics", "Axis", "box", "lines", "mtext", "par", "plot",
           "points", "strwidth", "text")
importFrom("stats", "as.dist", "as.hclust", "cutree", "dist", "hclust",
           "kmeans", "mad", "median", "na.omit", "rnorm", "runif",
           "sd", "var")
importFrom("utils", "read.csv", "read.csv2", "write.table")
useDynLib(clusterSim)